/**
 * Styles for the live search
 *
 * @author Rogier van der Linde
 *
 */

.livesearch_results p {
	padding: 2px 5px;
	font-style: italic;
}

.livesearch_results section > p {
	background-color: #ddd;
}

.livesearch_results {
	border: 1px dotted black;
	font-family: Arial;
	font-size: 12px;
	width: 388px;
	background-color: #fff;
	visibility: hidden;
	max-height: 525px;
	overflow-y: auto;
	position: absolute;
	top: 30px;
	right: 10px;
	z-index: 21;
}

.livesearch_entry {
	padding: 5px 10px;
	height: 73px;
	overflow: hidden;
}

.livesearch_results a {
	text-decoration: none;
	display: block;
	color: #333;
}

.livesearch_results a:hover {
	background-color: #eee;
}

.livesearch_header {
	font-weight: bold;
	text-transform: uppercase;			
}

.livesearch_icon {
	width: 100px;
	height: 71px;
	float: left;
	margin: 0 10px 5px 0;
}

.livesearch_info {
	width: 220px;
	float: left;
	margin: 0 5px 5px 0;
	overflow: hidden;
}

.livesearch_results > a + a {
	border-top: 1px dotted black;
}

#livesearch input[type=search] {
	width: 400px;
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 20;
	height: 24px;
}
